.products-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding: 2rem;
    margin-top:100px;
  }
  
  @media (min-width: 768px) {
    .products-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .products-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  .product-card {
    text-decoration: none;
    color: inherit;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    display: block;
  }
  
  .product-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .image-container {
    position: relative;
    aspect-ratio: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  
  .product-image-2 {
    width: 80%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
  }
  
  .product-card:hover .product-image {
    transform: scale(1.05);
  }
  
  .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
  }
  
  .product-card:hover .overlay {
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .product-info {
    padding: 1rem;
    text-align: center;
  }
  
  .product-name {
    font-size: 1.125rem;
    font-weight: 600;
    margin: 0;
  }